# *The purpose of this notebook is to apply change to the Turnover Report received from ADP and use the finalized data to create a Tableau Dashboard*

## Pulling in all needed dbs:

<p>*Connect to virtual environment: my_env\Scripts\activate.bat</p>

In [1]:
import pandas as pd 
import numpy as np
from faker import Faker

## Randomizing names for privacy

In [2]:
file_path = r"turnover_metrics_11.csv"

# Read the CSV file into a DataFrame
turn = pd.read_csv(file_path)

# Randomize the names in the Employee column
fake = Faker()
turn['Employee'] = [fake.name() for _ in range(len(turn))]


# Display the DataFrame
print(turn.tail())

    Employee ID            Employee             Coach        Role  \
71          953     Barry Hernandez  Jennifer Kephart       Tech
72          957          Gina Downs     Morgan Walker  Scripting
73          960   Geoffrey Hamilton      Don Paquette    Finance
74          971      Kimberly Ortiz     Morgan Walker  Scripting
75          986  Mr. Richard Murphy     Morgan Walker       Tech

         Department Date of Hire Date of Termination Turnover Risk  \
71  Product Support    6/19/2023            9/1/2023      Low Risk
72  Product Support    7/10/2023           9/15/2023      Low Risk
73  Product Support    7/24/2023           8/14/2023     Some Risk
74  Product Support    8/14/2023          10/17/2023      Low Risk
75  Product Support    9/11/2023           9/29/2023      Low Risk

   Termination  QNH Termination
71         NaN            -30.0
72         NaN            -30.0
73         NaN            -30.0
74   Voluntary            -30.0
75         NaN            -30.0

## Adding columns for Length of Service and Time Buckets

In [3]:
import datetime as dt

# Convert date columns to datetime objects
turn['Date of Hire'] = pd.to_datetime(turn['Date of Hire'])
turn['Date of Termination'] = pd.to_datetime(turn['Date of Termination'])

# Calculate length of service in months
turn['Months of Employment'] = ((turn['Date of Termination'] - turn['Date of Hire']) / pd.Timedelta(days=30.44)).astype(int)

# Define time buckets
time_buckets = [0, 6, 12,24,36,48,60,float('inf')]

# Add a new column for time buckets
turn['Time Bucket'] = pd.cut(turn['Months of Employment'], bins=time_buckets, labels=[f'{start}-{end} months' for start, end in zip(time_buckets[:-1], time_buckets[1:])])

# Display the updated new column
print(turn.head())

   Employee ID         Employee          Coach              Role  \
0           58  Tina Montgomery   Don Paquette     ProServWebD/D
1          220   Dr. Amy Dalton   Don Paquette      Social Media
2          253      Mark Miller  Morgan Walker    ProServWebD/D
3          328   Marilyn Levine   Don Paquette  CaseAnalysisMgr
4          369    Joseph Harris            NaN    LrngMgmtCoord

     Department Date of Hire Date of Termination Turnover Risk Termination  \
0  Pro Services   2019-04-22          2023-07-21      Low Risk         NaN
1     Marketing   2019-12-02          2023-09-29      Low Risk         NaN
2  Pro Services   2018-12-17          2023-08-31      Low Risk         NaN
3  Bus Analysis   2015-06-08          2023-05-12      Low Risk         NaN
4      Training   2015-03-30          2023-02-24      Low Risk   Voluntary

   QNH Termination  Months of Employment    Time Bucket
0              NaN                    50   48-60 months
1              NaN                    45   36-48 months
2              NaN                    56   48-60 months
3              NaN                    95  60-inf months
4              NaN                    94  60-inf months

## Saving file to new csv to utilize in Tableau

In [4]:
# Save the DataFrame to a new CSV file
output_file_path = 'turnover_metrics.csv'
turn.to_csv(output_file_path, index=False)

## **Created hr_dash_tableau to visualize data**
<p>*Can also be accessed at this link <a href="https://public.tableau.com/views/hr_dash_tableau/EmployeeTurnoverDashboard?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link">here</a>*</p>
<p><div class='tableauPlaceholder' id='viz1701219088133' style='position: relative'><noscript><a href='#'><img alt='Employee Turnover DashboardEmployee turnover is the measure mentÂ of the number of employees who leave an organization within a specified time period. This dashboard illustrates the number of employees who have left LCS YTD. ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;hr&#47;hr_dash_tableau&#47;EmployeeTurnoverDashboard&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='hr_dash_tableau&#47;EmployeeTurnoverDashboard' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;hr&#47;hr_dash_tableau&#47;EmployeeTurnoverDashboard&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1701219088133');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='1877px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script></p>